<div id="outer">
  <div id="inner">
      <mat-card class="example-card">
          <mat-card-content>
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="Date" [formControl]="serializedDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Time" [formControl]="timeFormControl">
              <mat-error *ngIf="timeFormControl.hasError('pattern') && !timeFormControl.hasError('required')">
                Please enter a valid military time
              </mat-error>
              <mat-error *ngIf="timeFormControl.hasError('required')">
                Time is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
        
            <p>
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Select Template Service" (selectionChange)="selectedService($event)">
                  <mat-option value="{{service.svcDateTime}}={{service.serviceId}}" *ngFor="let service of services; trackBy: trackByFn;">{{service.svcDateTime}}</mat-option>
                </mat-select>
              </mat-form-field>
            </p>
        
            <div>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Title">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Song">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Song Leader" (selectionChange)="selectedSongLeader($event)">
                  <mat-option value="{{songLeader.personId}}" *ngFor="let songLeader of songLeaders; let i = index">{{songLeader.firstName}} {{songLeader.lastName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        
          </mat-card-content>
          <mat-card-actions>
            <button mat-button mat-raised-button color="primary" [disabled]="activated" (click)="postSvc()">Create</button>
          </mat-card-actions>
        </mat-card>
  </div>
</div>


<ndc-dynamic [ndcDynamicComponent]="formComponent" [ndcDynamicInputs]="formInput" [ndcDynamicOutputs]="formOutput">
</ndc-dynamic>