<mat-card class="example-card">
  <mat-card-content>
    <div *ngFor="let event of serviceEvent">
      <mat-form-field>
        <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="event.eventName">
      </mat-form-field>
      <mat-form-field>
        <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="event.personName">
      </mat-form-field>
      <mat-form-field>
        <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="event.songName">
      </mat-form-field>
      <mat-form-field>
        <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="event.eventNotes">
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>