<mat-card class="example-card">
  <mat-card-content>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <th>Event</th>
        <th>Name</th>
        <th>Title</th>
        <th>Comments</th>
      </tr>
      <tr *ngFor="let service of someProp">
        <td>
          <mat-form-field class="example-full-width">
            <input matInput value="{{service.eventId}}">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput value="{{service.eventTypeId}}">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput value="{{service.eventTypeId}}">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput value="{{service.eventTypeId}}">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>